<!DOCTYPE html>
<html lang="en">


<%- include('./partials/head.ejs') %> 


<body>
    <%- include('./partials/nav.ejs')  %> 

    <div class="container">
        <h2>Create your own story</h2>
        <form action="/" method="POST">
            <label for="title">Title</label>
            <input type="text" name="title">
            <label for="snippet">Snippet</label>
            <input type="text" name="snippet">
            <div class="genre-field">
                <label for="">Add genre</label>
                <div class="dropdown">
                    <p></p>
                    <button type="button" onclick="drop()" class="dropbtn">Pick genres <i class="fas fa-sort-down"></i></button>
                    <div id="Dropdown" class="dropdown-content">
                      <span data-genre="Action">Action</span>
                      <span data-genre="Adventure">Adventure</span>
                      <span data-genre="Comedy">Comedy</span>
                      <span data-genre="Crime and Mystery">Crime and Mystery</span>
                      <span data-genre="Fantasy">Fantasy</span>
                      <span data-genre="Horror">Horror</span>
                      <span data-genre="Romance">Romance</span>
                    </div>
                </div>
            </div>
            
            <label for="body">Body</label>
            <textarea name="body" id="" cols="30" rows="30"></textarea>
            <button type="submit">Submit</button>
        </form>
    </div>
    <script>
                
        function drop() {
            document.getElementById("Dropdown").classList.toggle("show");
        }

        
        window.onclick = (event) => {
            if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }
    </script>
</body>
</html>