
<%- include('./partials/head.ejs') %> 


<body>
    <%- include('./partials/nav.ejs')  %> 

    <div class="container">
        <h2>Create your own story</h2>
        <form action="/" method="POST">
            <label for="title">Title</label>
            <input type="text" name="title">
            <label id="a" for="snippet">Snippet</label>
            <input type="text" name="snippet">
            <div class="genre-field">
                <label for="">Add genre</label>
                <div class="dropdown">
                    <div id="genre_list"></div>
                    <div>
                        <button type="button" id ="drop" class="dropbtn">Pick genres <i class="fas fa-sort-down"></i></button>
                        <div id="Dropdown" class="dropdown-content">
                          <span class="genre" data-genre="Action">Action</span>
                          <span class="genre" data-genre="Adventure">Adventure</span>
                          <span class="genre" data-genre="Comedy">Comedy</span>
                          <span class="genre" data-genre="Crime and Mystery">Crime and Mystery</span>
                          <span class="genre" data-genre="Fantasy">Fantasy</span>
                          <span class="genre" data-genre="Horror">Horror</span>
                          <span class="genre" data-genre="Romance">Romance</span>
                        </div>
                    </div>
                </div>
            </div>
            
            <label for="body">Body</label>
            <textarea name="body" id="" cols="30" rows="30"></textarea>
            <button type="submit">Submit</button>
        </form>
    </div>
    <script>
        window.onload = () => {
        const genre = document.querySelectorAll(".genre");
        const selectedGenre = [];
        let flag = false;
        let all_genres = document.querySelectorAll(".all-genres");
        
        
        const drop = document.getElementById("drop");
        drop.addEventListener('click', () => {
            document.getElementById("Dropdown").classList.toggle("show");
        })

        window.onclick = (event) => {
            if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }

        //  event listener to select items in genres

        genre.forEach((item) => {
            item.addEventListener('click', () => {

                const selected = item.getAttribute("data-genre")
                selectedGenre.forEach((e) => {
                    if (e === selected) {
                        flag = true;
                    }
                })
                if (!flag)
                {
                    const span = document.createElement("span");
                    span.className = `all-genres `
                    span.setAttribute("data-genre", selected)
                    span.innerHTML = `${selected} <i class="far fa-times-circle"></i></span>`;
                    document.getElementById("genre_list").appendChild(span);
                    selectedGenre.push(selected);    
                }  
                flag = false 
                all_genres = document.querySelectorAll(".all-genres")

                //  event listener to delete items in genres


                all_genres.forEach((item) => {
                    item.addEventListener('click', () => {
                        const deleted_item = item.getAttribute("data-genre");
                        selectedGenre.forEach((e) => {
                            if (e === deleted_item) {
                                let index = selectedGenre.indexOf(e);
                                selectedGenre.splice(index, 1);
                            }

                        })
                        item.remove();
                    })

                })   
            })

            
            })
        }    
        
        
        
        
        

    </script>
</body>
</html>