
<%- include('./partials/head.ejs') %> 


<body>
    <%- include('./partials/nav.ejs', {user: user})  %> 

    <div class="container">
        <h2>Create your own story</h2>
        <form id="form" action="/" method="POST">
            <label for="title">Title</label>
            <input type="text" name="title" required>
            <label id="a" for="snippet">Snippet</label>
            <input type="text" name="snippet" required>
            <label for="body">Body</label>
            <textarea name="body" id="" cols="30" rows="30" required></textarea>
            <button type="submit">Submit</button>
        </form>
    </div>
    <script>
        const form = document.getElementById("form");   
    </script>
</body>
</html>