<!DOCTYPE html>
<html>

    <%- include('./partials/head.ejs')  %> 

<body>
    <nav>
        <h1>Blogadon</h1>
        <div class="search-bar">
            <input type="text" placeholder="Search for blogs">
            <i class="fas fa-search"></i>
        </div>
        <a href="">Create</a>
        <a href="">Sign up</a>
        <a href="">Sign in</a>     
    </nav>
    



    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>