:root{
    --clr-primary: #313552;
    --clr-secondary: hsl(44, 39%, 90%);
    --clr-anchor: #d35675;
    --clr-primary-light:#313552; 
}


/* search bar */

.search-bar{
    
    margin-inline: auto;
    position: relative;
    width: max(300px, 50%);
    margin-bottom: 2rem;
}
.search-bar input{
    box-sizing: border-box;
    width: 99%;
    line-height: 2.5rem;
    border-color: var(--clr-anchor);
    border-style: solid;
    border-radius: 25px;
    border-width: 3px;
    margin-left: auto;
    padding-left: 2rem;
    font-weight: 500;
    font-size: 1.15rem;
}
.search-bar i{
    color: var(--clr-anchor);
}
.search-bar button{
    position: absolute;
    right: 20px;
    top: 15px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    
}

h2{
    color: var(--clr-primary);
    font-size: 2.75rem;
    text-align: center;
    font-weight: 900;
}

.container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}


/* story instances */

.story{
    background-color: white;
    padding: 2rem;
    box-sizing: border-box;
    width: min(400px, 80vw);
    min-height: 250px;
    margin-top: 2rem;
    margin-bottom: 1rem;
    border: solid 1px var(--clr-primary-light);
    -webkit-box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.1); 
    box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.1);
}

.story > * {
    display: block;
    
}
.story h3{
    font-size: 2rem;
    color: var(--clr-anchor);
    margin-top: 0;
}
.story p{
    font-size: 1.25rem;
    color: var(--clr-primary);
}

/* hiding items not searched */

.hide{
    display: none;
}

.titles{
    cursor: text;

}