:root {
    --clr-primary: #313552;
    --clr-secondary: hsl(44, 39%, 90%);
    --clr-anchor: #d35675;

}

/* globals */


body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: var(--clr-secondary);
}

a {
    text-decoration: none;
}

/* typography */

h1 {
    font-size: 3rem;
    color: var(--clr-secondary);
    margin: 1.5rem 0;
}

h2 {
    font-size: 2rem;
    color: var(--clr-primary);
    text-align: center;
}

/*nav bar */


nav {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding-inline: 4rem;
    background-color: var(--clr-primary);
    width: 100%;
    border-bottom: solid 1px var(--clr-anchor);
    box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.21);
    -webkit-box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.21);
    -moz-box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.21);
}


.menu >a+a {
    margin-left: 2rem;
}

input:focus {
    outline: none;
}

nav ::placeholder {
    font-weight: 500;
    font-size: 1.05rem;
}

nav a {
    color: var(--clr-anchor);
    font-weight: 900;
    font-size: 1.25rem;
}

.menu{
    margin-left: auto;
}

.login-google {
    color: white;
    background-color: var(--clr-anchor);
    padding: 1.5rem;
    transition: 100ms;
}

.login-google:hover,
.login-google:focus {
    background-color: hsl(346, 55%, 36%);
}

/* hamburger menu */

#menuToggle {
    display: block;
    position: relative;
    top: 3px;
    left: 30px;
    z-index: 1;

    -webkit-user-select: none;
    user-select: none;
}

#menuToggle a {
    text-decoration: none;
    color: #232323;

    transition: color 0.3s ease;
}

#menuToggle a:hover {
    color: tomato;
}


#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;

    opacity: 0;
    /* hide this */
    z-index: 2;
    /* and place it over the hamburger */

    -webkit-touch-callout: none;
}


#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: var(--clr-anchor);
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}


#menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: var(--clr-anchor);
}


#menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}


#menuToggle input:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}


#menu {
    position: absolute;
    width: 200px;
    padding: 20px;
    padding-top: 20px;
    margin-left: -30px;
    background: var(--clr-primary);
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    -webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.2); 
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.2);
}

#menu li {
    padding: 15px 0;
    font-size: 22px;
    color: var(--clr-anchor);
}

#menuToggle input:checked~ul {
    transform: none;
}

#menuToggle {
    display: none
}

@media only screen and (max-width: 860px) {
    .menu{
        display: none;
    }
    #menuToggle {
        display: block
    }
    nav {
        padding-inline: 0;
    }
    h1{
        margin-left: 50px;
        font-size: 2rem;
    }
    
}
